<%inherit file="base.html"/>

<%block name="subtitle"> - ${title}</%block>

<%block name="content">
    <div class="container" id="content">
        <h2>
        ${title} <div style="-webkit-transform: rotate(-2deg); display: inline-block;">${"(" + transformation + ")" if transformation is not "" else ""}</div></h2>

        <div>
            % for transform in transform_categories:
            <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                ${transform["Name"]}
                <span class="caret"></span></button>
                
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                % for category in transform["Categories"]:
                    <li role="presentation" class="transform-cat">
                    <%
                    import urllib
                    str = "/replace?transform_category=" + urllib.quote_plus(category) + "&transform_type=" + urllib.quote_plus(transform["Name"]) + "&q=" + url
                    %>
                    <a role="menuitem" tabindex="-1" href=${str}>
                    ${category}</a>
                    </li>
                % endfor
                </ul>
            </div>
            % endfor
        </div>

        <div id="ingedients">
            <h3> Ingredients </h3>
                <ul>
                % for ingredient in ingredients:
                  <li >${ingredient}</li>
                % endfor
                </ul>
        </div>
        <div id="instructions">
            <h3> Instructions </h3>
                <ul>
                % for instruction in instructions:
                  <li>${instruction}</li>
                % endfor
                </ul>
        </div>
    </div>
</%block>