<%inherit file="base.html"/>

<%block name="subtitle"> - ${title}</%block>

<%block name="content">
    <div class="container" id="content">
        <h2>
        <div style="-webkit-transform: rotate(-7deg); display: inline-block;"></div> 
        ${title} </h2>

        <div>
            % for transform in transform_categories:
            <div class="dropdown" style="display: inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                ${transform["Name"]}
                <span class="caret"></span></button>
                
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                % for category in transform["Categories"]:
                    <li role="presentation" class="transform-cat"><a role="menuitem" tabindex="-1" href="#">${category}</a></li>
                % endfor
                </ul>
            </div>
            % endfor
        </div>

        <div id="ingedients">
            <h3> Ingredients </h3>
                <ul>
                % for ingredient in ingredients:
                  <li >${ingredient["q"] + " " + ingredient["n"]}</li>
                % endfor
                </ul>
        </div>
        <div id="instructions">
            <h3> Instructions </h3>
                <h4> Prep </h4>
                <ul>
                % for instruction in prep_steps:
                  <li>${instruction}</li>
                % endfor
                </ul>
                <h4> Cook </h4>
                <ul>
                % for instruction in cook_steps:
                  <li>${instruction}</li>
                % endfor
                </ul>
        </div>
    </div>
</%block>